
<!--<div class="container">-->
<!--  <div class="content">-->
<!--    <h1>Plans</h1>-->
<!--    <h3>-->
<!--          <ul>-->
<!--      <li><a href="http://127.0.0.1:8000/home" >Prepaid</a><input type="checkbox"></li><br>-->
<!--        <li><a href="http://127.0.0.1:8000/home" >Postpaid</a><input type="checkbox"></li><br>-->
<!--        <li><a href="http://127.0.0.1:8000/home" >Dongle</a><input type="checkbox"></li><br>-->

<!--    </ul>-->

<!--    </h3>-->

<!--  </div>-->
<!--  <div class="flap"></div>-->
<!--</div>-->
