
<!--<div><br><br>-->
<!--  <h2>Become a customer of VoizFonica</h2><br><br><br>-->
<!--<form #userform="ngForm" (ngSubmit)="getvalue(userform.value)">-->

<!--  Enter Id: <input type="number" ngModel name="id"><br>-->
<!--  Enter Name: <input type="text" ngModel name="name"><br>-->
<!--  Enter Email: <input type="email" ngModel name="email"><br>-->
<!--  Enter Mobile: <input type="number" ngModel name="mobile"><br>-->
<!--   <button type="button" routerLink="./recharge"> Submit </button>-->
<!--</form>-->
<!--</div>-->

<!--<div><a href="http://127.0.0.1:8000/api/list2"  >Click here</a></div>-->
<!--<h2  style="text-align:center">Customer Details </h2>-->

<!--  <table class="center" >-->
<!--    <tr>-->
<!--      <td>ID</td>-->
<!--      <td>NAME</td>-->
<!--      <td>Email</td>-->
<!--      <td>ADDRESS</td>-->
<!--      <td>AADHAR NUM</td>-->
<!--    </tr>-->
<!--    <tr *ngFor = "let item of items" >-->
<!--       <td>{{item.id}}</td>-->
<!--       <td>{{item.name}}</td>-->
<!--       <td>{{item.email}} </td>-->
<!--       <td>{{item.address}}</td>-->
<!--       <td>{{item.aadhar}}</td>-->
<!--    </tr>-->
<!--  </table>-->



