<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!--<app-plans> </app-plans>-->
<!--<app-userdetails> </app-userdetails>-->


<body>
<h1 style="color:red;">VoizFonica</h1><br><br>
 <ul>
    <li><a href="http://127.0.0.1:8000/home">🔙Back</a></li>
    <li><a href="plans">Plans</a> </li>
    <li><a href="http://127.0.0.1:8000/newconnection">New Connection</a></li>
    <li><a href="http://127.0.0.1:8000/invoice">invoice</a></li>
  </ul><br><br>
<!--<img src="../../assets/voiz.png" >-->
<!--<div class="container">-->

<!--  <div class="card">-->
<!--    <div class="face face1">-->
<!--      <div class="content">-->
<!--        <span class="stars"></span>-->
<!--        <h2 class="java"> New Connection</h2>-->
<!--        <p class="java"><button type="button" routerLink="./userdetails">Buy</button> </p>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="face face2">-->
<!--      <h2>01</h2>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="card">-->
<!--    <div class="face face1">-->
<!--      <div class="content">-->
<!--        <span class="stars"></span>-->
<!--        <h2 class="python">Recharge</h2>-->
<!--        <p class="python"><a href="/recharge">Recharge for Prepaid PostPaid Dongle</a></p>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="face face2">-->
<!--      <h2>02</h2>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="card">-->
<!--    <div class="face face1">-->
<!--      <div class="content">-->
<!--        <span class="stars"></span>-->
<!--        <h2 class="cSharp">Invoice</h2>-->
<!--        <p class="cSharp"><a href="invoice">Genertaing invoices</a></p>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="face face2">-->
<!--      <h2>03</h2>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--</body>-->
<!--<h1  style="text-align:center">Userdetials Page</h1>-->
<!--<div>-->
<!--  <h1>-->
<!--    List of customers-->
<!--  </h1>-->
<!--</div>-->



<!--  <table >-->
<!--  <tr >-->
<!--    <td>ID</td>-->
<!--  <td>NAME</td>-->
<!--  <td>Email</td>-->
<!--  <td>Mobile</td>-->
<!--  </tr>-->
<!--  <tr *ngFor = "let item of items" >-->
<!--    <td>{{item.id}}</td>-->
<!--    <td>{{item.name}}</td>-->
<!--    <td>{{item.email}} </td>-->
<!--    <td>{{item.mobile}}</td>-->
<!--  </tr>-->

<!--</table>-->
<!--<form #userform="ngForm" (ngSubmit)="getvalue(userform.value)" style="text-align:center;">-->

<!--  Enter Id: <input type="number" ngModel name="id"><br>-->
<!--  Enter Name: <input type="text" ngModel name="name"><br>-->
<!--  Enter Address: <input type="text" ngModel name="address"><br>-->
<!--  Enter Aadhar num: <input type="number" ngModel name="aadhar"><br>-->
<!--&lt;!&ndash;  <a routerLink="square">Show Square</a>&ndash;&gt;-->
<!--&lt;!&ndash;   <button> Submit </button>&ndash;&gt;-->
<!--</form>-->



<!--<ul>-->
<!--  <li *ngFor="let item of items">-->
<!--    {{ item.id}} &nbsp; &nbsp; {{item.name}} &nbsp; {{ item.email }} &nbsp; &nbsp; {{ item.address}}-->
<!--  </li>-->
<!--</ul>-->
{{ error?.message}}


<!--  <div><a routerLink="recharge">Submit</a><br><br></div>-->
  <router-outlet></router-outlet>
<!--<button routerLink ="./userdetails/userdetails.component">Submit</button>-->

<!--<ul>-->
<!--  <li *ngFor = "let item of items">-->
<!--    {{item.id}}  &nbsp; &nbsp; {{item.title}} &nbsp; &nbsp; {{item.name}}  &nbsp; &nbsp;  {{item.email}}   &nbsp; &nbsp; {{item.mobile}}-->
<!--  </li>-->
<!--</ul>-->
<!--{{ error?.message}}-->

<!--<form #userform="ngForm" (ngSubmit)="getvalue(userform.value)">-->

<!--  Enter Username: <input type="text" ngModel name="name">-->
<!--  Enter Address: <input type="text" ngModel name="address">-->
<!--  Enter Id: <input type="number" ngModel name="id">-->
<!--  Enter Password: <input type="password" ngModel name="pass">-->
<!--   <button> Submit </button>-->
<!--</form>-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


